<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Istatıcıtc/"><span class="fa fa-home mr-3"></span> Dashboard</a>
    </li>
    <li>
        <a href="/Categories"><span class="fa fa-user mr-3"></span> Kategıoriler</a>
    </li>
    <li>
        <a href="/About/"><span class="fa fa-briefcase mr-3"></span> Hakkımızda</a>
    </li>
    <li>
        <a href="/Education/"><span class="fa fa-sticky-note mr-3"></span>Eğitim</a>
    </li>
    <li>
        <a href="/Jobs/"><span class="fa fa-sticky-note mr-3"></span> İş</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span> Mesajlar</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span>Projeler</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span> Hizmetler</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span> Yetenekler</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span> Slider</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span>Referanslar</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span>Sayfaya Git</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
    </li>
</ul>