@model List<WebApplication11.Models.TblEducation>
<section id="resume" class="resume section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>I am a self-improving, solution-oriented, and eager-to-learn software developer.</p>
    </div><!-- End Section Title -->

    <div class="container">
       

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Sedanur Yardımcı</h4>
                    <p><em>Self-motivated developer with passion for clean and scalable code.</em></p>
                    <ul>
                        <li>İstanbul,TURKEY</li>
                        <li>(123) 456-7891</li>
                        <li>sedanuryardimci.3083@gmail.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                
                    <div class="resume-item">
                        <h4>SOFTWARE ENGINEERING</h4>
                        <h5>2022-2026</h5>
                        <p><em>Nişantaşı University</em></p>
                        <p>I am still studying in the Department of Software Engineering.</p>
                    </div><!-- Edn Resume Item -->
                
                  
                </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Intern</h4>
                    <h5>2025 - Present</h5>
                    <p><em>Acunmedya Akademi </em></p>
                    <ul>
                        <li>I am receiving training in C# language and doing projects</li>
                        
                    </ul>
                </div><!-- Edn Resume Item -->

               

            </div>

        </div>
       
    </div>
       
</section>
